<fa-icon [icon]="filmIcon"></fa-icon> | <fa-icon [icon]="coffeeIcon"></fa-icon>
<br>
<br>
<app-fancy-btn>Hello</app-fancy-btn>
<br>
<app-fancy-btn><b>Submit</b></app-fancy-btn>
<br>
<app-fancy-btn (click)="btnClicked($event)" (someEvent)="btnClicked($event)"><b>Submit New</b></app-fancy-btn>
<br>
<br>
<app-zippy-basic>
    <p>Hello Basic Projection</p>
</app-zippy-basic>
<br>
<br>
<app-zippy-multislot>
    <p question>
        What?
    </p>
    <p>Hello</p>
</app-zippy-multislot>
<br>
<br>
<ng-template appExampleZippy>
    It depends on what you do with it.
</ng-template>
<br>
<br>
<input type="text" placeholder="Enter stock" (change)="onChangeEvent($event)">
<app-input-example [stk]="stock" [qty]="quantity"></app-input-example>
<br>
<br>
{{priceQuote.stockSymbol}}--{{priceQuote.lastPrice | currency:'CAD'}}
<app-price-quoter (lastPrice)="priceQuoteHandler($event)"></app-price-quoter>

<div class="main">
    <h2>App component</h2>
    <app-search></app-search>  <b><-- Search component</b>
    <p>   
    <a [routerLink]="['/']">eBay</a>
    <a [routerLink]="['/amazon']">Amazon</a>
<div>
<br>
<br>
<br>
<h1>Parent</h1>
<child name= "John" #child1></child>
<child name= "Mary" #child2></child>
<button (click) = "child2.greet()">Invoke greet() on child 2</button>
<button (click)="greetAllChildren()">Invoke greet() on both children</button>
<br>
<div class="wrapper">
    <h2>Parent 1</h2>
     <div>This div is defined in the Parent's template</div>
     <app-child-ng-template>
            <div ><i>Child got this line from parent </i></div>
     </app-child-ng-template>
</div>
<br>
<br>
<div class="wrapper">
    <h2>Parent 2</h2>
     <div>This div is defined in the Parent's template</div>
     <app-child-ng-template-selector>
       <div class="header" ><i>Child got this header from parent {{todaysDate}}</i></div>
       <div class="footer"><i>Child got this footer from parent</i></div>
     </app-child-ng-template-selector>
</div>
<router-outlet></router-outlet>
